@font-face {
  font-family: fenton;
  src: url(font/Fenton-Medium.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #0091db;
  --yellow-color: #f2ae30;
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --background-color: #0d181eb6;

  --bg-url: url(./assets/capa.png);
}

body {
  height: 100vh;
  background: var(--bg-url) no-repeat center/cover;
  font-family: fenton;
}

.flex-container {
  background-color: var(--background-color);
  width: 100%;
  max-width: 588px;
  padding: 0 24px;
}

.select {
  height: 100vh;
}

.select h2 {
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 28px;

  padding-top: 60px;

  width: auto;
  color: var(--blue-color);
}

.select h1 {
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: var(--yellow-color);
}

.select h3 {
  justify-content: center;
  text-align: center;
  padding: 70px 0 5px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #f2ae30;
}

.select ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 24px;

  background: var(--surface-color);
  border: 1px solid var(--blue-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  color: var(--yellow-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--yellow-color);
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bookComplet.png);
  }

  body {
    background: var(--bg-url) no-repeat center/cover;
  }

  .flex-container {
    background-color: #0d181e;
    width: 100%;
    max-width: 920px;
    padding: 0 200px;
  }

  .select h2 {
    padding-top: 120px;
  }

  ul li a {
    padding: 30px 24px;
    font-size: 22px;
  }
}
